.conv {
    margin: 40px;
    /* border: 4px solid #021e57; */
    padding: 40px;
    /* background: #ccc; */
}

body {
    background-image: url('../img/wallet1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    color: #fff;

}
label {
    color: #ccc;
    padding-top: 10px;
}

input[type=number] {
    border: none;
    border-bottom: 2px solid #ccc;
}
